<!DOCTYPE html>
<html>
    <head>
        <title>CWdB - TABELAS</title>

        <% include partials/head %>

        <!-- Include Moment -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>        
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>    

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>            

        <!-- Include Date Range Picker -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>  

        <script src="http://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>        

        <link rel="stylesheet" href="analysis.css">    

        <!-- SCRIPT: UPDATE SAMPLES -->
        <script type="text/javascript" src="getServerSamples.js"></script>             

        <!-- SCRIPTS DO MAPA -->
        <script type="text/javascript" src="analysis_map.js"></script>         

        <!-- SCRIPTS DO GRÁFICO -->
        <script type="text/javascript" src="analysis_graph.js"></script>          

        <!-- SCRIPT DE REFRESH DA TELA -->
        <script type="text/javascript" src="analysis_updateScreen.js"></script>          
    </head>

    <body class="hold-transition skin-blue layout-top-nav">
        
        <% include partials/header %> 
        
        <div class="row bg-navy text-filters">
            <div class="col-lg-3 col-lg-offset-1" style="padding-top: 15px">
                <div class=row>
                    <strong>Período de tempo:</strong>
                </div>
                <div class=row>
                    <input type="text" id="daterange" name="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM" style="color: black; width: 300px" />
                </div>                
            </div>


            <div class="col-lg-2"style="margin-bottom: 15px; padding-top: 15px">
                <div class="row">
                    <strong>Mín. dB:</strong>    
                    <strong id="minDbLabel" class=" pull-right text-right">-- dB</strong>      
                </div>
                <div class="row" style="margin-top: 5px">
                    <input id="minDbSlider" type="text" data-slider-min="0" data-slider-max="200" data-slider-step="1" data-slider-value="70"/>                
                </div>  
            </div>

            <div class="col-lg-3"style="margin-left: 60px; margin-bottom: 15px; padding-top: 15px">
                <div class="row">
                    <strong>Raio de busca:</strong>    
                    <strong id="radiusLabel" class=" pull-right text-right">-- m</strong>      
                </div>
                <div class="row" style="margin-top: 5px">
                    <input id="radiusSlider" type="text" data-slider-min="0" data-slider-max="10000" data-slider-step="10" data-slider-value="300"/>                
                </div>  
            </div> 
            
            <div class="col-lg-2 center-block"style="padding-top: 15px">
                <button class="btn btn-danger btn-lg center-block" id="applyButton">
                    <i class="fa fa-check"></i> 
                    <strong>Aplicar</strong>
                </button>
            </div> 
      
        </div>
        
        <!-- START: MAPA/GRÁFICO -->
        <div class="row">

            <div class="col-lg-6">

                <!-- START: MAPA -->
                <div id="map" class="col-xs-12"></div>
                
                <div class="title">
                    <div class="alert alert-info alert-autocloseable-info">
                        <strong>Não esqueça de clicar em aplicar após o ajuste de posição!</strong>
                    </div>   
                </div>
                <!-- END: MAPA -->
            </div>

            <div class="col-lg-5">
                <!-- START: GRÁFICO -->
                <canvas id="myChart"></canvas>                
                <!-- END: GRÁFICO -->
            </div>
        
        </div>
        <!-- END: MAPA/GRÁFICO -->

        <!-- START: DADOS COLETADOS -->
        <div class="row">
        
            <div class="info-box-div col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-gray">
        
                    <span class="info-box-icon">
                        <i class="ion ion-ios-information-outline"></i>
                    </span>
        
                    <div class="info-box-content">
                        <span class="info-box-text">Pontos Coletados</span>
                        <span class="info-box-number text-center" id="totalSamples" style="margin-top: 12px">--</span>
                    </div>
        
                </div>
            </div>
        
            <div class="info-box-div col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-green">
        
                    <span class="info-box-icon">
                        <i class="ion ion-android-checkmark-circle"></i>
                    </span>
        
                    <div class="info-box-content">
                        <span id="lowerThanDB" class="info-box-text" style="margin-bottom: 10px">Pontos abaixo de 60dB</span>
                        <span id="lowerThanVal" class="info-box-number">--</span>
        
                        <div class="progress">
                            <div id="progressbarLower" class="progress-bar" style="width: 0%"></div>
                        </div>
        
                    </div>
        
                </div>
            </div>
        
            <div class="info-box-div col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-red">
                    <span class="info-box-icon">
                        <i class="ion ion-android-cancel"></i>
                    </span>
        
                    <div class="info-box-content">
        
                        <span id="greaterThanDB" class="info-box-text" style="margin-bottom: 10px">Pontos acima de 60dB</span>
                        <span id="greaterThanVal" class="info-box-number">--</span>
        
                        <div class="progress">
                            <div id="progressbarGreater" class="progress-bar" style="width: 0%"></div>
                        </div>
        
                    </div>
        
                </div>
            </div>
        </div>
        <!-- END: DADOS COLETADOS -->

        <!-- https://bootsnipp.com/snippets/featured/animated-loading -->
        <div class="container">
            <div class="row">
                <div id="loading">
                    <ul class="bokeh">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>         
        
        <script src="admin-lte/js/bootstrap-slider.js"></script>   
        
        <!-- SCRIPTS DO MAPA -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2NrBR3ZlTLNT0jFm8-FooJAKxTjPTRgs&callback=InitializeMapResources&libraries=visualization"></script>
        
        <!-- SCRIPTS DE CALLBACKS -->
        <script type="text/javascript" src="analysis_callbacks.js"></script>                  

    </body>

</html>