<!DOCTYPE html>
<html>
    <head>
        <title>CWdB</title>

        <% include partials/head %>

        <script type="text/javascript" src="index_map.js"></script>
        
        <link rel="stylesheet" href="index.css">

    </head>

    <body class="hold-transition skin-blue layout-top-nav" onload="UpdateSamples()">
        
        <% include partials/header %>
        
        <!-- START: MAPA -->
        <div id="map" class="col-xs-12"></div>
        <!-- END: MAPA -->
        
        <!-- START: CAMPO SOBRE O MAPA -->
        <div id="over_map">

            <div class="box box-solid bg-green-gradient">
                <div class="box-header ui-sortable-handle">
                    
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="col-xs-10">
                            <input type="text" id="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM" />
                        </div>
                    </div>

                    <div class="row">
                        <button id="markers" type="button" class="col-xs-6 btn btn-large btn-info">Markers</button>
                        <button id="heatMap" type="button" class="col-xs-6 btn btn-large btn-info active">Mapa de Calor</button>    
                    </div>  

                    <div class="row">
                        <div class="col-lg-9" style="margin-bottom: 15px; padding-top: 15px">
                            <input id="slider_dB" type="text" data-slider-min="0" data-slider-max="200" data-slider-step="1" data-slider-value="70"/>                
                        </div>        
                        <div class="col-lg-3" style="margin-bottom: 15px; padding-top: 15px">
                            <label id="sliderValue"> > 60 dB</label>
                        </div>     
                    </div>

                </div>
            </div>
        
        </div>
        <!-- END: CAMPO SOBRE O MAPA -->

        <!-- START: LOADING FRAME -->
        <!-- https://bootsnipp.com/snippets/featured/animated-loading -->
        <div class="container">
            <div class="row">
                <div id="loading">
                    <ul class="bokeh">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>    
        <!-- END: LOADING FRAME -->
        
        <!-- START: MODAL -->
        <div class="modal fade" id="markerInfo" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <!-- START: HEADER -->
                    <div class="modal-header">
                        <h3 class="modal-title" id="lineModalLabel">Histórico</h3>
                    </div>
                    <!-- END: HEADER -->

                    <!-- START: BODY -->
                    <div class="modal-body">
                        <div id="visualization"></div>
                    </div>
                    <!-- END: BODY -->

                    <!-- START: FOOTER -->
                    <div class="modal-footer">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default btn-hover-green" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                    <!-- END: FOOTER -->

                </div>
            </div>
        </div>     
        <!-- END: MODAL -->   

        <script type="text/javascript">
            // DOM element where the Timeline will be attached
            var container = document.getElementById('visualization');
          
            // Create a DataSet (allows two way data-binding)
            var items = new vis.DataSet([
              {id: 1, content: 'item 1', start: '2013-04-20'},
              {id: 2, content: 'item 2', start: '2013-04-14'},
              {id: 3, content: 'item 3', start: '2013-04-18'},
              {id: 4, content: 'item 4', start: '2013-04-16', end: '2013-04-19'},
              {id: 5, content: 'item 5', start: '2013-04-25'},
              {id: 6, content: 'item 6', start: '2013-04-27'}
            ]);
          
            // Configuration for the Timeline
            var options = {};
          
            // Create a Timeline
            var timeline = new vis.Timeline(container, items, options);
        </script>        
        
        <!-- START: SCRIPTS DO MAPA -->
        <script>

            function myMap()
            {
                var mapOptions = {
                    center: new google.maps.LatLng(-25.45, -49.26),
                    zoom: 12,
                    mapTypeControlOptions: {
                        mapTypeIds: [google.maps.MapTypeId.ROADMAP]
                    },                      
                }

                InitializeMapResources();
        
                map = new google.maps.Map(document.getElementById("map"), mapOptions);
                
                google.maps.event.addListener(map, 'click', CreateRefferenceMarker);
            }        
        </script>
        
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2NrBR3ZlTLNT0jFm8-FooJAKxTjPTRgs&callback=myMap&libraries=visualization"></script>
        <!-- END: SCRIPTS DO MAPA -->

        <!-- START: SLIDER -->
        <script src="admin-lte/js/bootstrap-slider.js"></script> 

        <script>
            $('#slider_dB').slider({
                formatter: function(value) {
                    return 'Current value: ' + value;
                }
            });   
        </script>

        <!-- END: SLIDER -->        

        <!-- START: SCRIPTS DO DATE/TIME PICKER -->
        <script>
            var startDate = new Date();

            startDate.setHours(startDate.getHours() - 24);

            $('#daterange').daterangepicker({
                timePicker: true,
                timePicker24Hour: true,
                timePickerIncrement: 1,
                startDate: startDate,
                endDate: new Date(),
                locale: {
                    format: 'DD/MM/YYYY HH:mm'
                }
            });          
        </script>        
        <!-- END: SCRIPTS DO DATE/TIME PICKER -->

        <!-- START: UPDATE MAP SAMPLES -->
        <script type="text/javascript" src="getServerSamples.js"></script>

        <script>
            function UpdateSamples(){

                $('#loading').show();

                var drp = $('#daterange').data('daterangepicker');

                GetServerSamples(drp.startDate, drp.endDate)
                    .then(function(samples){
                        CreateMarkers(samples);
                        CreateHeatMap(samples);

                        $('#loading').hide();
                    })
                    .catch(function(errorMsg){
                        console.log(errorMsg);

                        $('#loading').hide();
                    })
            }

        </script>
        <!-- END: UPDATE MAP SAMPLES -->

        <!-- START: SCRIPTS GERAIS -->
        <script type="text/javascript" src="index_callbacks.js"></script>
        <!-- END: SCRIPTS GERAIS -->

    </body>

</html>
