<!DOCTYPE html>
<html>
    <head>
        <title>CWdB</title>

        <% include partials/head %>

        <!-- Include Required Prerequisites -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

        <!-- Include Date Range Picker -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>

        <script type="text/javascript" src="index_map.js"></script>
        
        <link rel="stylesheet" href="index.css">

    </head>

    <body class="hold-transition skin-blue layout-top-nav" onload="UpdateSamples()">
        
        <% include partials/header %>
        
        <div id="map" class="col-xs-12"></div>
        
        <div id="over_map">

            <div class="box box-solid bg-green-gradient">
                <div class="box-header ui-sortable-handle">
                    
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="col-xs-10">
                            <input type="text" id="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM" />
                        </div>
                    </div>

                    <div class="row">
                        <button id="markers" type="button" class="btn btn-large btn-info">Markers</button>
                        <button id="heatMap" type="button" class="btn btn-large btn-info active">Mapa de Calor</button>
                    </div>  

                </div>
            </div>
        
        </div>

        <!-- https://bootsnipp.com/snippets/featured/animated-loading -->
        <div class="container">
            <div class="row">
                <div id="loading">
                    <ul class="bokeh">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>     
        
        <!-- START: SCRIPTS DO MAPA -->
        <script>

            function myMap()
            {
                var mapOptions = {
                    center: new google.maps.LatLng(-25.45, -49.26),
                    zoom: 12,
                    mapTypeControlOptions: {
                        mapTypeIds: [google.maps.MapTypeId.ROADMAP]
                    },                      
                }
        
                map = new google.maps.Map(document.getElementById("map"), mapOptions);
            }        
        </script>
        
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2NrBR3ZlTLNT0jFm8-FooJAKxTjPTRgs&callback=myMap&libraries=visualization"></script>
        <!-- END: SCRIPTS DO MAPA -->

        <!-- START: SCRIPTS DO DATE/TIME PICKER -->
        <script>
            var startDate = new Date();

            startDate.setHours(startDate.getHours() - 24);

            $('#daterange').daterangepicker({
                timePicker: true,
                timePicker24Hour: true,
                timePickerIncrement: 1,
                startDate: startDate,
                endDate: new Date(),
                locale: {
                    format: 'DD/MM/YYYY HH:mm'
                }
            });

            $('#daterange').on('apply.daterangepicker', function(ev, picker) {
                UpdateSamples();
            });            
        </script>        
        <!-- END: SCRIPTS DO DATE/TIME PICKER -->

        <!-- START: UPDATE MAP SAMPLES -->
        <script type="text/javascript" src="getServerSamples.js"></script>

        <script>
            function UpdateSamples(){

                $('#loading').show();

                var drp = $('#daterange').data('daterangepicker');

                GetServerSamples(drp.startDate, drp.endDate)
                    .then(function(samples){
                        CreateMarkers(samples);
                        CreateHeatMap(samples);

                        $('#loading').hide();
                    })
                    .catch(function(errorMsg){
                        console.log(errorMsg);

                        $('#loading').hide();
                    })
            }

        </script>
        <!-- END: UPDATE MAP SAMPLES -->

        <!-- START: SCRIPTS GERAIS -->
        <script type="text/javascript" src="index_callbacks.js"></script>
        <!-- END: SCRIPTS GERAIS -->
    </body>

</html>