<!DOCTYPE html>
<html>
    <head>
        <title>CWdB - TABELAS</title>

        <% include partials/head %>
        
        <link rel="stylesheet" href="admin-lte/css/slider.css">  

        <link rel="stylesheet" href="tabelas.css">

    </head>

    <body class="hold-transition skin-blue layout-top-nav">
        
        <% include partials/header %>
        
        <div class="row bg-navy">
            <div class="col-lg-2 col-lg-offset-1" style="margin-bottom: 15px; padding-top: 15px">
                <strong>Período de tempo:</strong>
            </div>
            <div class="col-lg-2" style="margin-bottom: 15px; padding-top: 15px; margin-left: -100px">
                <input type="text" name="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM" style="color: black; width: 300px" />
            </div>


            <div class="col-lg-1 col-lg-offset-9 slider slider-horizontal" id="green">
                <div class="slider-track">
                    <div class="slider-track-low" style="left: 0px; width: 43.75%;"></div>
                    <div class="slider-selection" style="left: 43.75%; width: 31.25%;"></div>
                    <div class="slider-track-high" style="right: 0px; width: 25%;"></div>
                    <div class="slider-handle min-slider-handle round" role="slider" aria-valuemin="-200" aria-valuemax="200" aria-valuenow="-25" style="left: 43.75%;" tabindex="0"></div>
                    <div class="slider-handle max-slider-handle round" role="slider" aria-valuemin="-200" aria-valuemax="200" aria-valuenow="100" style="left: 75%;" tabindex="0"></div>
                </div>
                <div class="tooltip tooltip-main top" role="presentation" style="left: 59.375%; margin-left: -31.5px;">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">-25 : 100</div>
                </div>
                <div class="tooltip tooltip-min top" role="presentation" style="left: 43.75%; margin-left: 0px; display: none;">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">-25</div>
                </div>
                <div class="tooltip tooltip-max top" role="presentation" style="left: 75%; margin-left: 0px; display: none;">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">100</div>
                </div>
            </div>            
        </div>
        
        <div class="row">
        
            <div class="info-box-div col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-gray">
        
                    <span class="info-box-icon">
                        <i class="ion ion-ios-information-outline"></i>
                    </span>
        
                    <div class="info-box-content">
                        <span class="info-box-text">Pontos Coletados</span>
                        <span class="info-box-number text-center" style="margin-top: 12px">50.000</span>
                    </div>
        
                </div>
            </div>
        
            <div class="info-box-div col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-green">
        
                    <span class="info-box-icon">
                        <i class="ion ion-android-checkmark-circle"></i>
                    </span>
        
                    <div class="info-box-content">
                        <span class="info-box-text" style="margin-bottom: 10px">Pontos abaixo de 60dB</span>
                        <span class="info-box-number">5.000</span>
        
                        <div class="progress">
                            <div class="progress-bar" style="width: 10%"></div>
                        </div>
        
                    </div>
        
                </div>
            </div>
        
            <div class="info-box-div col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-red">
                    <span class="info-box-icon">
                        <i class="ion ion-android-cancel"></i>
                    </span>
        
                    <div class="info-box-content">
        
                        <span class="info-box-text" style="margin-bottom: 10px">Pontos acima de 60dB</span>
                        <span class="info-box-number">45.000</span>
        
                        <div class="progress">
                            <div class="progress-bar" style="width: 90%"></div>
                        </div>
        
                    </div>
        
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <div id="curve_chart" style="width: 900px; height: 500px"></div>
            </div>
        
        </div>
        
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);
        
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Year', 'Sales', 'Expenses'],
                    ['2004', 1000, 400],
                    ['2005', 1170, 460],
                    ['2006', 660, 1120],
                    ['2007', 1030, 540],
                    ['2008', 1030, 540],
                    ['2009', 1020, 600],
                    ['2010', 1010, 780]
                ]);
        
                var options = {
                    title: 'Company Performance',
                    curveType: 'function',
                    legend: { position: 'bottom' }
                };
        
                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        
                chart.draw(data, options);
            }
        </script>  
        
        <script src="admin-lte/js/bootstrap-slider.js"></script>

    </body>

</html>